////////////////////////////////
//           COLORS
////////////////////////////////

// Color palette.
$light-gray: #d1d2e1;
$cool-gray: #5a5969;
$cool-gray-hover: #71a3d7;
$dark-gray: #5e6079;
$blue: #4776ef;
$blue-hover: #2d61e9;
$blue-active: #1a47bb;
$purple: #7647ef;
$orangered: #ef5347;
$light-blue: #c4eeff;

// Element colors.
$dotted-line-gray: #666666;
$line-gray: #d3d3d3;
$button-gray: #aeafbc;
$button-gray-hover: #6e7094;
$button-gray-active: #40415c;

// 3rd party brand colors.
$facebook-blue: #4060b3;
$facebook-blue-hover: #336dff;
$google-red: #e66251;
$google-red-hover: #ff4d36;