////////////////////////////////
//            FONTS
////////////////////////////////

$title-font: "Exo", sans-serif;
$micro-font: "Lato", sans-serif;
$base-font: "Helvetica-Neue", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;